{
  "encryption_password": "REPLACE_WITH_LUKS_PASSPHRASE",
  "users": [
    {
      "sudo": true,
      "username": "bnn",
      "enc_password": "REPLACE_WITH_YESCRYPT_OR_SHA512_HASH"
    }
  ],
  "root_enc_password": "REPLACE_WITH_YESCRYPT_OR_SHA512_HASH"
}
